@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
  color: #0c0c0c;
}

body {
  background: $primary-color;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .container {
    max-width: 1440px;
    width: 100%;
    padding: 0 1rem;
  }
}

// Reset inputs
input,
textarea {
  font-family: 'Poppins';
  margin: 0;
  width: 100%;
  font-size: 1rem;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 0.25rem;
  padding: 0.6rem 0.8rem;
  outline: none;
  color: #0c0c0c;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;

  &:focus {
    border-color: rgb(145, 145, 145);
    box-shadow: rgba(201, 201, 201, 0.04) 0px 1px 0px,
      rgba(45, 39, 98, 0.1) 0px 0px 0px 3px;
  }
}

label {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #0c0c0c;
}
