@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
  color: #0c0c0c;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

// reset headings

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// reset button

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .container {
    max-width: 1440px;
    width: 100%;
    padding: 0 1rem;
  }
}

// Reset inputs
input,
textarea {
  font-family: 'Poppins';
  margin: 0;
  width: 100%;
  font-size: 1rem;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 0.25rem;
  padding: 0.6rem 0.8rem;
  outline: none;
  color: #0c0c0c;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;

  &:focus {
    border-color: rgb(145, 145, 145);
    box-shadow: rgba(201, 201, 201, 0.04) 0px 1px 0px,
      rgba(45, 39, 98, 0.1) 0px 0px 0px 3px;
  }
}

label,
.label {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #0c0c0c;
}

.btn {
  outline: 0;
  border: 0;
  background-color: $orange-colour;
  color: $dark-primary;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 0.35rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-family: 'Poppins';
}

// CSS Animations

.fade-enter {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.exit-active {
  opacity: 0;
}
