@import 'variables';

.main {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 500px) minmax(auto, 1200px);
  gap: 1rem;
  min-height: 100vh;
  align-items: start;
}
