@import 'variables';

.app {
  max-height: 100vh;
  overflow-y: hidden;
  .appgrid {
    display: grid;
    grid-template-columns: $sidebar-width 1fr;
    grid-template-rows: 1fr $app-footer-height;
    width: 100%;
    display: grid;
    align-items: start;
  }
}
