@import '../../../styles/variables';

.invoicepreview__wrap {
  background: $dark-background;
  gap: 1rem;
  height: calc(100vh - $navbar-height - $app-footer-height);
  overflow-y: auto;
  padding: 2rem 3rem;
  width: 100%;
  position: relative;

  .container--invoicepreview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 1100px;

    .invoicepreview__cta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 1.2rem;
      font-weight: 600;

      .btn__download {
        background: $orange-colour;
        color: $dark-primary;
        font-family: 'Poppins';
      }
    }

    .invoicepreview {
      position: relative;
      font-size: clamp(0.6em, 1vw, 0.8rem);
      overflow: hidden;
      height: auto;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 12px 3px,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

      .invoicepreview__initial {
        position: absolute;
        width: 100%;
        height: 100%;
        color: $dark-primary;
        background: rgba(251, 251, 255, 0.9);
        // blur background
        backdrop-filter: blur(2px);
        left: 0;
        top: 0;
        z-index: 3;
        display: flex;
        padding: 2rem 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-size: $font-lg;

        span {
          font-size: $font-md;
        }

        &__arrow {
          height: 6rem;
          fill: $dark-alternative;
          margin-right: 4rem;
        }
      }

      &__inner {
        padding: 4rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        background: white;
      }

      &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;

        &__item {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1.25rem;
        }
      }

      &__table {
        display: flex;
        flex-direction: column;
        font-size: 1.1em;
      }

      &__billingitem {
        padding: 1rem 1rem;
        border: 1px solid;
        border-top: none;

        &:last-of-type {
          border-radius: 0 0 0.45rem 0.45rem;
        }

        span {
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-all;
          width: 25%;
          text-align: center;

          &.textleft {
            width: 50%;
            text-align: left;
          }

          &.textright {
            text-align: right;
          }
        }

        &--head {
          border: 1px solid;
          padding: 1rem 1rem;
          font-weight: 600;
          border-radius: 0.45rem 0.45rem 0 0;
        }
      }

      &__column {
        display: flex;
        flex-direction: column;

        &__item {
        }
      }

      // Individual styles

      &__fontlight {
        color: rgb(93, 93, 93);
      }

      &__box {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
      }

      &__logo {
        display: flex;
        position: relative;
        height: 40px;
        width: auto;
        max-width: 250px;
      }

      &__company {
        font-size: clamp(1em, 2vw, 1.6em);
        font-weight: 700;
        color: #0c0c0c;
        line-height: 1.2;
      }

      &__email {
      }
    }
  }
}

// Animations

.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0;
  transition: opacity 300ms;
}
