.invoiceform {
  &__upload {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    font-size: 1rem;

    .upload__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .upload__helper {
        font-size: 0.8rem;
      }
    }
  }
  &__items {
    background: beige;
    padding: 2rem 2rem 2rem 1rem;
    border-radius: 0.5rem;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    .fab__text {
      text-transform: capitalize;
      font-size: 1.1rem;
    }
  }
}
