@import '../../../styles/variables.scss';

.focused {
  input {
    opacity: 1;
  }
}

.blurred {
  input {
    opacity: 0.85;
  }
}

.inputdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  &__input {
    display: flex;
    flex-direction: column;

    label {
      color: white;
    }

    &--readonly {
      cursor: default;
    }
  }

  &__spread {
    grid-column: 1 / -1;
  }

  &__itemgrid {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 44.5px;
    grid-gap: 1rem;
    width: 100%;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }
  }

  &__icon {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__delete {
    background: transparent;
    // border: 1px solid $border-lighter-colour;
    border-radius: 0.25rem;
    height: 44.5px;
    align-self: end;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: rgb(191, 197, 219);
      width: 1.25rem;
      height: 1.25rem;
      transition: fill 0.25s cubic-bezier(0, 0, 0, 1);
    }

    &:hover {
      svg {
        fill: rgb(255, 255, 255);
      }
    }
  }
}

.inputitems {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: $font-sm;
    height: 44.5px;
    width: 100%;
    align-self: center;
    background-color: $orange-colour;
    color: white;
    border-color: $border-lighter-colour;
    transition: background-color 0.2s cubic-bezier(1, 0, 0, 1);
    padding: 0;

    &:hover {
      background-color: $dark-primary;
    }

    svg {
      width: 1.25rem;
      fill: $dark-alternative;
    }
  }
}

.sidebar {
  position: relative;
  z-index: 2;
  height: calc(100vh - $navbar-height);
  overflow-y: auto;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: $dark-secondary;
  padding: 0.8rem;
  border-right: 1px solid $border-colour;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 2px 0px;

  .accordion__chevron {
    margin-left: auto;
    transform: rotate(-90deg);
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  }

  .accordion {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    &__header {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: $padding 1rem;
      font-size: $font-sm;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      text-align: left;
      color: white;
      background-color: transparent;
      border: none;
      border-radius: 0.5rem;

      &:hover {
        background-color: $dark-primary;
      }

      &--expanded {
        .accordion__chevron {
          transform: rotate(0deg);
        }
      }
    }

    &__body {
      transition: height 0.25s cubic-bezier(0, 0, 0, 1);
    }

    &__panel {
      background: $border-colour;
      border-radius: 0.5rem;
      padding: 1rem;
    }
  }
}

// Colour picker

.colourpicker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  z-index: 2;

  &__swatch {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  &__popover {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 200px;
    padding: 6px;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #eee;
    outline: none;
    font: inherit;
    text-transform: uppercase;
    text-align: center;
  }
}
