@import '../../../styles/variables.scss';

.inputdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  &__input {
    display: flex;
    flex-direction: column;

    label {
      color: white;
    }
  }
}

.sidebar {
  position: relative;
  z-index: 2;
  height: calc(100vh - $navbar-height);
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: $dark-secondary;
  padding: 0.8rem;
  border-right: 1px solid $border-colour;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 2px 0px;

  .accordion__chevron {
    margin-left: auto;
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  }

  .accordion {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    &__header {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: $padding 1rem;
      font-size: $font-sm;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      text-align: left;
      color: white;
      background-color: transparent;
      border: none;
      border-radius: 0.5rem;

      &:hover {
        background-color: $dark-primary;
      }

      &--expanded {
        .accordion__chevron {
          transform: rotate(180deg);
        }
      }
    }

    &__body {
      transition: height 0.25s cubic-bezier(0, 0, 0, 1);
    }

    &__panel {
      background: $border-colour;
      border-radius: 0.5rem;
      padding: 1rem;
    }
  }
}
