@import '../../../styles/variables.scss';

.navwrap {
  background-color: $dark-primary;
  border-bottom: 1px solid $border-colour;
  width: 100%;
  padding: 0 $padding;
  height: $navbar-height;
  position: relative;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.75rem 0;

    &__logo {
      width: 180px;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.25rem;
        border: 1px solid $border-colour;
        width: 2rem;
        height: 2rem;
        .nav__icon {
          width: 1rem;
          height: 1rem;
        }

        button {
          display: none;
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          margin: 0;
        }
        &__link {
          transition: opacity 0.2s ease-in-out;

          &:hover {
            opacity: 0.8;
          }

          button {
            &.fade-out {
              animation: fadeOut 0.5s forwards !important;

              @keyframes fadeOut {
                from {
                  opacity: 1 !important;
                }
                to {
                  opacity: 0 !important;
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
